@font-face{
    src: url(Fonts/Gotham-Bold.otf);
    font-family: Gotham;
}
@font-face{
    src: url(Fonts/Gotham-Light.otf);
    font-family: Gotham-Light;
  }
  @font-face{
    src: url(Fonts/Gotham-Black.otf);
    font-family: Gotham-Black;
  }

body {
    background-image: url(Images/backgroundimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

* {
    color: #fff4ec;
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }



.learnChess{
    background-color: #6f6a8d;
    padding: 1vw;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow:0 -1px 6px 1px #303030;
}
.learnChess h1{
    border-bottom: 2px solid #fff4ec;
    max-width: 50%;
    line-height:2;
    margin: 0 auto;
}   

span {
    margin: 0 auto;
    font-family: Gotham-Light;
}
h3{
    font-family: Gotham-Light;
    text-align:left;
    margin: 0 auto;
    max-width: 80%;
    font-size: 0.8vw;
}
.listh3 span {
    display: none;
}
h4 {
    font-size: 0.6vw;
    text-align: center;
    margin: 2vw auto;
}
.containerFront a { 
    border: none;
    margin: 0 auto;
    cursor: pointer;
    color: #ffc79f;
    text-decoration: none;
}
h1 {
    font-size: 1.2vw;
}
h2 {
    margin-left: 2vw;
    text-align: left;
    font-size: 0.9vw;
    padding: 0.5vw;
    line-height: 1.2;
}



.containerFront{
    padding: 1vw;
}
.learnChess h2{
    padding-top: 2vw;
}   
#firstContainer h1 {
    text-align: center;
}
#firstContainer h2 {
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
}

#firstContainer {
    text-align: justify;
    background-color: #464359;
    max-width: 60%;
    border-radius: 1rem;
    margin-left: 20vw;
    padding-bottom: 4vw;
    z-index: 3;
    margin-top: 3vw;
    position: relative;
}
#secondContainer {
    max-width: 60%;
    border-radius: 1rem;
    text-align: center;
    z-index: 5;
    margin-top: -8vw;
    margin-left: 20vw;
    position: relative;
    margin-bottom: 5vw;
}




/* Hover animations*/

@keyframes flicker {
    0% {
        color: #fff4ec;
    }
    50% {
        color: rgb(255, 223, 118)
    }
    100% {
        color: #fff4ec;
    }
}
h3:hover {
    cursor:pointer;
}
h3:hover::after {
    letter-spacing: 2px;
    margin-left: 2vw;
    content: "CLICK ME!";
    animation: flicker 1s infinite ease-in-out;
    font-family: Gotham-Black;

    
}

#firstContainer.blur {
    filter: blur(1.5px) brightness(70%);
    transition: 0.2s;

}
#firstContainer.transform {
    
    transition: 0.2s ease-in-out;
}

#secondContainer.blur {
    filter: blur(1.5px) brightness(70%);
    transition:0.2s;
}
#secondContainer.transform {
    margin-top: -1vw;
    transition: 0.2s ease-in-out;
}


@media only screen and (max-width:858px){

    .container {
        margin-top: 3vw;
        padding: 0;
    }
    #secondContainer.transform {
        margin-top: auto;
        transition: 0.2s ease-in-out;
    }
   #firstContainer{

    margin: 0 auto;
    max-width: 100%;
   }
   #secondContainer {
    max-width: 100%;
    margin: 0 auto;
    margin-top: -3vw !important;
   }
   #firstContainer.blur {
    filter: blur(0) brightness(100%)
   }
   #firstContainer.transform {
    
    
    }
    #secondContainer.blur {
        filter: blur(0) brightness(100%);
        transition:0.2s;
    }
    h3:hover::after {
        content: "";
    }

    /* Styling the text to be more responsive*/

    h1 {
        font-size: 3vw;
    }
    #firstContainer h2{
        font-size: 2vw;
    }
    h2{
        padding-left: 1vw;
        font-size: 3vw;
    }
    h3{
        font-size: 2.5vw;
        max-width: 80%;
    }
    h4 {
        padding-top: 4vw;
        font-size: 2vw;
    }
}
@media only screen and (max-width:460px){
    h1 {
        padding-bottom: 2vw;
        max-width: 100% !important;
        font-size: 4vw
    }
    #firstContainer {
        padding-bottom: 12vw !important;
    }
    h2 {
        padding-bottom: 2cap !important;
        max-width: 90% !important;
        font-size: 3vw !important; 
    }
    h3 {
        max-width: 90%;
        font-size: 3vw !important;
    }
    #secondContainer {
        padding-top: 4vw !important;
        margin-top: -7vw !important;
    }
}
