@font-face{
    src: url(Gotham-Bold.otf);
    font-family: Gotham;
}

body {
    background-color: #d2cae5;
}
* {
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }

  
  form {
    background-color: #464359;
    border-radius: 1rem;
    margin-top: 30px;
    max-width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
#chessFront{
    color:#fff4ec;
    text-align: center;
}

#chessFront:hover{
    background-color: #9692b3;
    color:#1c1a16;
    transition: 0.3s;
    cursor: pointer;
}


label {
    display: block;
    margin-bottom: 10px;
}

.button{
    margin: 5px;
    border:none;
    text-decoration: none;
    background-color:#ead6b1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button:hover{
    background-color: #ecdbbb;
    cursor: pointer;
}
.button:active{
    background-color:#e8e5c2;
    opacity: 70%;
    transform:scale(0.9);
    
}




@media only screen and (max-width:858px){

    form{
        
        max-width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 0;
    }

}
.banner{
    margin: 5px;
    max-width: 20rem;
    border: none;
    overflow: hidden;
    margin-top: 0 auto;
    margin-bottom: 2px;
}
.banner img{
    max-width: 100%;
    max-height: 100%;
    
}
