@font-face{
    src: url(Fonts/Gotham-Bold.otf);
    font-family: Gotham;
}
@font-face{
    src: url(Fonts/Gotham-Light.otf);
    font-family: Gotham-Light;
  }
  @font-face{
    src: url(Fonts/Gotham-Black.otf);
    font-family: Gotham-Black;
  }

body {
    background-image: url(Images/backgroundimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

* {
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }

.container{
    padding: 1rem;
}

h4 {
    margin: 0 auto;
    padding: 1rem;
    text-align:justify;
    max-width: 100%;

}
#chessFront{
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #464359;
    border-radius: 1rem;
    color:#fff4ec;
}

.homeImage {
    padding: 0;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: #5e4c6e 0.5rem solid;
    max-width: 80%;
    max-height: auto;
}



@media only screen and (max-width:858px){

    form{
        max-width: 100% !important;
        margin: 0 auto;
        

    }

}
