

body {
    background-color: rgb(250, 240, 230);
}
* {
    color: #1c1a16;
    box-sizing: border-box;
    font-family: Gotham-Bold, sans-serif;
  }

  li {
    float: left;
    
}
li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.5s background-color;
}
li a:hover{
    background-color: #c1946c;
    cursor: pointer;
    transition-delay: 0.07s;
}
li a:active{
    background-color:  #d6ad89;
    opacity: 70%;
    transform:scale(0.9);
    
}
ul {
    background-color:#b18863;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    
}




form {
    background-color: #e4d1b0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 700px;
    padding: 20px;
    justify-content: space;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 90%;
  }
form:hover{
    transform: scale(0.99);
    opacity: 110%;
}

label {
    display: block;
    margin-bottom: 10px;
}

.button{
    margin: 5px;
    border:none;
    text-decoration: none;
    background-color:#b18863;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button:hover{
    background-color:#bf9169;
    cursor: pointer;
}
.button:active{
    background-color:#d0a47d;
    opacity: 70%;
    transform:scale(0.9);
    
}


img {
   
    width: 100%;
    height: 100%;
}
.banner{
    margin: 5px;
    width: 27%;
    height: 46.4px;
    border: none;
    overflow: hidden;
    margin-top: 0 auto;
    margin-bottom: 2px;
}
.banner img{
    max-width: 100%;
    max-height: 100%;
    object-fit:contain ;
}


.queens{
    max-width: 150%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#formQ header{
    font-size: 24px;
    text-decoration: underline;
    margin: 15px 5px;
    text-align: center;
}
.item {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    border-radius: 5px;
    
}
.imgq{
    max-width: 150%;
    height: auto;
    border-radius: 5px;
}
#openings label{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    text-decoration: underline;
}
.london{
    max-width: 150%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
#formL header{
    font-size: 24px;
    text-decoration: underline;
    margin: 15px 5px;
    text-align: center;
}