
@font-face{
    src: url(Gotham-Bold.otf);
    font-family: Gotham;
}
html {
    scroll-behavior: smooth;
  }
  

/* -For desktop use- */

@media only screen and (min-width: 858px){
body {
    background-color: rgb(250, 240, 230);
    justify-content: center;
}
* {
    color: #1c1a16;
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
    font-size: 12pt;
  }


form {
    background-color: #e4d1b0;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 40%;
    margin-left: 20%;
    padding: 20px;
    justify-content: space;
    
    
  }

label {
    display: block;
    margin-bottom: 10px;
}



img {
    border-radius: 15px;
    width: 85%;
    width: 85%;
}
.banner{
    margin: 5px;
    max-width: 20rem;
    border: none;
    overflow: hidden;
    margin-top: 0 auto;
    margin-bottom: 2px;
}
.banner img{
    max-width: 100%;
    max-height: 100%;
    
}

#openings header{
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    text-decoration: underline;
}
#formL{
border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    margin-top: 40px auto;
    text-align: center;
    scroll-snap-type: mandatory;
}
.london header{
    font-size: 30px;
    text-decoration: underline;
    margin: 15px 5px;
    text-align: center;
    padding: 10px;
}
#formQ{
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    margin-top: 40px auto;
    text-align: center;
}
#formR{
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    margin-top: 40px auto;
    text-align: center;
    scroll-snap-type: mandatory;
}
.queens header{
    font-size: 30px;
    text-decoration: underline;
    margin: 15px 5px;
    text-align: center;
    padding: 10px;
}
.lopez header{
    font-size: 30px;
    text-decoration: underline;
    margin: 15px 5px;
    text-align: center;
    padding: 10px;
}
.slideQ p{
    max-height: 300px;
}


}
/* -Adding the optimization for mobile devices- */
@media only screen and (max-width:858px){


    body {
        background-color: rgb(250, 240, 230);
    }
    * {
        color: #1c1a16;
        box-sizing: border-box;
        font-family: Gotham, sans-serif;
    }
    form {
        background-color: #e4d1b0;
        border-radius: 10px;
        margin-top: 30px;
        width: 100%;
        padding: 20px;
        justify-content: space;
        
        
      }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
     
    img {
        border-radius: 15px;
        width: 85%;
        width: 85%;
    }
    .banner{
        margin: 5px;
        width: 40%;
        border: none;
        overflow: hidden;
        margin-top: 0 auto;
        margin-bottom: 2px;
    }
    .banner img{
        max-width: 100%;
        max-height: 100%;
        
    }
    
    .item {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        border-radius: 5px;
        
    }
    .imgq{
        max-width: 150%;
        height: auto;
        border-radius: 5px;
    }
 
       
    
    #openings header{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        text-decoration: underline;
    }
    .london{
        max-width: 150%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        
    }
    #formL header{
        font-size: 24px;
        text-decoration: underline;
        margin: 15px 5px;
        text-align: center;
    }
    #formQ{
        border-radius: 10px;
        margin-top: 30px;
        padding: 20px;
        margin-top: 40px auto;
        text-align: center;
    }
    #formR{
        border-radius: 10px;
        margin-top: 30px;
        padding: 20px;
        margin-top: 40px auto;
        text-align: center;
    }
    .queens header{
        font-size: 30px;
        text-decoration: underline;
        margin: 15px 5px;
        text-align: center;
        padding: 10px;
    }
    .lopez header{
        font-size: 30px;
        text-decoration: underline;
        margin: 15px 5px;
        text-align: center;
        padding: 10px;
    }
    
    .slideQ p{
        max-height: 300px;
    }
    
}
