@font-face{
    src: url(Gotham-Bold.otf);
    font-family: Gotham;
}

body {
    background-color: rgb(250, 240, 230);
}
* {
    color: #1c1a16;
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }

form {
    background-color:  #e4d1b0;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 40%;
    margin-left: 20%;
    padding: 20px;
    justify-content: space;
  }
label {
    display: block;
    margin-bottom: 10px;
}
#setup {
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
    padding: 2rem;
}
#setup p {
    text-align: center;
    margin: 2rem 2rem;
    font-size: 20px;
}

img {
    border-radius: 15px;
    width: 85%;
    width: 85%;
}
.banner{
    margin: 5px;
    max-width: 20rem;
    border: none;
    overflow: hidden;
    margin-top: 0 auto;
    margin-bottom: 2px;
}
.banner img{
    max-width: 100%;
    max-height: 100%;
    
}

#buttons{
    justify-content: center;
    display: flex;
    max-width: 40%;
    text-align: above;
    margin: 20 auto;
}

.container header{
    font-size: 20px;
    margin: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.item p {
    padding: 1rem;
    margin: 2rem auto;
    margin-left: 2rem;
    text-align:center;
}
/* Collapsible Pieces menu*/
.piecesContainer{
    display: block;
    align-items: left;
    justify-content: left;
    
    


}
.piecesContent{
    display:none;
    overflow: hidden;
    background-color:#b18863 ;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    padding: 4rem;
    text-align: center;
    outline: none;
    width: 100%;

}
.piecesBtn{
    background-color:#e4d1b0;
    cursor: pointer;
    border: 3px solid;
    border-radius: 5px;
    border-color: #b18863;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    text-align: center;
    animation-name: button;
    animation-duration: 0.2s ;
    animation-timing-function:  cubic-bezier(.26, .53, .74, 1.48);
}


.piecesBtn:hover{
    background-color:#b18863;
    cursor: pointer;
    color: aliceblue;
    transform: translateY(-3px);
    transition: 0.3s;
}
.piecesBtn:focus{
    background-color: #99624c;
    border-color: #99624c;
    color: aliceblue;
}


/* -Adding the optimization for mobile devices- */
@media only screen and (max-width:858px){
    @font-face{
        src: url(Gotham-Bold.otf);
        font-family: Gotham;
    }
    
    body {
        background-color: rgb(250, 240, 230);
    }
    * {
        color: #1c1a16;
        box-sizing: border-box;
        font-family: Gotham, sans-serif;
      }
    
    form {
        background-color:  #e4d1b0;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 40%;
        padding: 20px;
        justify-content: space;
      }
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    
        
    #setup {
        display: flex;
        text-align: left;
        align-items: left;
    }
    
    
    .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }
    img {
        border-radius: 15px;
        width: 100%;
        
    }
    .banner{
        margin: 5px;
        width:80%;
        border: none;
        overflow: hidden;
        margin-top: 0 auto;
        margin-bottom: 2px;
    }
    .banner img{
        max-width: 100%;
        max-height: 100%;
        object-fit:contain ;
    }
    
    #buttons{
        justify-content: center;
        display: flex;
        max-width: 100%;
        text-align: above;
        margin: 20 auto;
    }
    
    #setup{
        height: 100%;
        width: 100%;
    }
    .container header{
        font-size: 30px;
        text-decoration: underline;
        margin: 15px 5px;
        text-align: center;
        padding: 10px;
    }
    #pieces{
        border-radius: 10px;
        margin-top: 30px;
        padding: 20px;
        margin-top: 40px auto;
        text-align: center;
    }
}