@font-face{
    src: url(Circular\ Font\ Family/);
    font-family: Gotham;
}

body {
    background-color: rgb(250, 240, 230);
}
* {
    color: #1c1a16;
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }

 li {
    float: left;
    
}
li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.5s background-color;
}
li a:hover{
    background-color:#c1946c;
    cursor: pointer;
    transition-delay: 0.07s;
}
li a:active{
    background-color:#d6ad89;
    opacity: 70%;
    transform:scale(0.9);
    
}
ul {
    background-color: #b18863;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    
}




form {
    background-color:  #e4d1b0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 800px;
    padding: 20px;
    justify-content: space;
  }
label {
    display: block;
    margin-bottom: 10px;
}


    
#setup {
    display: flex;
    max-width: 500px;
    text-align: left;
    align-items: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.container img {
    
    max-width: 100%;
    height: auto;
}

.button{
    margin: 5px;
    border:none;
    text-decoration: none;
    background-color:#b18863;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;


}

.button:hover{
    background-color:#bf9169;
    cursor: pointer;
}
.button:active{
    background-color:#d0a47d;
    opacity: 70%;
    transform:scale(0.9);
    
}
img {
    border-radius: 15px;
    width: 85%;
    width: 85%;
}
.banner{
    margin: 5px;
    width: 27%;
    height: 46.4px;
    border: none;
    overflow: hidden;
    margin-top: 0 auto;
    margin-bottom: 2px;
}
.banner img{
    max-width: 100%;
    max-height: 100%;
    
}

#buttons{
    justify-content: center;
    display: flex;
    max-width: 50%;
    text-align: above;
    margin: 20 auto;
}
#setup p {
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
}