@font-face{
  src: url(Fonts/Gotham-Bold.otf);
  font-family: Gotham;
}
@font-face{
  src: url(Fonts/Gotham-Light.otf);
  font-family: Gotham-Light;
}
@font-face{
  src: url(Fonts/Gotham-Black.otf);
  font-family: Gotham-Black;
}

body {
  background-image: url(Images/backgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
* {
    color:#fff4ec;
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }

  
form {
  background-color: #464359;
  border-radius: 1rem;
  max-width: 60%;
  margin: 0;
  margin-left: 20vw;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}
#yesOrNo {
  padding-bottom: 2vw;
}
#terminologyNo{
  background-color:#aa7e4b;
}
#terminologyNo:hover{
  background-color:#da9c56;
  transition:0.3s;
}
#terminologyYes{
  background-color:#4f9466;
}
#terminologyYes:hover{
  background-color:#5fb47c;
  transition:0.3s;
}
#showTerms{
  background-color:#4f9466;
}
#showTerms:hover{
  background-color:#5fb47c;
  transition:0.3s;
}

.ulList{
  list-style-type: none;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  background-color:#6f6a8d;
}

.listh2 {
  font-family: Gotham-Black, sans-serif;
  margin: 1rem;
  letter-spacing: 0.8px;
  font-size: 18px;
  padding: 0.3rem 0;
}
.listh2:hover{
  color: #d7cef1 !important;
  cursor:pointer !important;
  transform: translateX(5px) !important;
  transition: 0.3s !important;
}
.listh2:focus{
  color: #322a49;
}
.listh3{
  font-family: Gotham-Light, sans-serif;
  line-height: 140%;
  margin: 0.5rem;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
.strategy {
  padding-bottom: 3vw;
}
.headerContainer {
  background-color: #464359;
  padding: 2rem;
  border-radius: 1vw;
  margin: 0 auto;
  padding-bottom: 3vw;
}
.buttonsContainer {
  padding-top: 2vw;
}
.tipsContainer {
  margin-top: -1.5vw ;
  position: relative !important;
  box-shadow: 2px -5px 20px #0000004f;
  background-color: #6f6a8d;
  padding-top:2vw;
  border-radius: 1vw;
  padding-bottom: 2vw;
  padding: 0;
  z-index: 5;
}
.ulListContainer {
  margin-top: -1.5vw ;
  position: relative !important;
  box-shadow: 2px -5px 20px #0000004f;
  background-color: #6f6a8d;
  padding-top:2vw;
  border-radius: 1vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  z-index: 6;
}
.listContainer {
  margin-top: -1.5vw ;
  position: relative !important;
  box-shadow: 2px -5px 20px #0000004f;
  background-color: #6f6a8d;
  padding-top:2vw;
  border-radius: 1vw;
  padding-bottom: 2vw;
  z-index: 5;

}
.termsh3{
  padding: 0 1rem;
  text-align: left;
  font-family: Gotham-Black;
  letter-spacing: 1.2px;
}
.termsh3:hover{
  color: #d7cef1 !important;
  cursor:pointer !important;
  transform: translateX(5px) !important;
  transition: 0.2s ease !important;
}
.termsHeader{
  margin: 0 auto;
  max-width: 80%;
  line-height: 1.5;
  text-align: center ;
  padding: 1rem;
}
.termsInner{
  border-radius: 1vw;
  padding: 1rem;
  background-color: #464359;
  padding-bottom: 2vw;
}
.termsForm{
  border-radius: 1vw;
  padding: 0;
  background-color: #6f6a8d;
  line-height: 110%;
}
.termsh4{
  text-align: left;
  font-family: Gotham-Light;
  padding:0;
}


@keyframes button {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    100% {
      opacity:1;
      transform: scale(1);
    }
  }
  .button{
      background-color:#8781b7;
      padding: 1rem;
      margin: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      animation-name: button;
      animation-duration: 0.2s ;
      animation-timing-function:  cubic-bezier(.26, .53, .74, 1.48);
  }
  .button:hover{
    background-color:#b18863;
    cursor: pointer;
    color: #fff4ec;
    transform: translateY(-3px);
    transition: 0.4s ease-in-out;
  }
  .button:focus{
    background-color: #99624c;
    border-color: #99624c;
    color: #fff4ec;  
  }
  /* -Adding the optimization for mobile devices- */
@media (max-width:859px){

  #yesOrNo button {
    font-size: 3vw !important;
  }

  h4 {
    font-size: 3%;
    padding: 0;
    margin: 0 auto;
  }
  .listh3 {
    font-size: 3.5vw;
  }
  .strategy button {
    font-size: 3vw !important;
    
  }
  .strategy {
    padding-bottom: 7vw !important;
    margin-bottom: 0;
  }
  .buttonsContainer {
    padding: 1vw;
    display: flex;
  }
  .tipsContainer {
    margin-top: -4vw;
  }
  .headerContainer {
    padding-bottom: 4vw !important;
  }
    h3 {
      font-size: 3vw;
      padding: 1vw;
      margin: 2vw auto;
    }
    .headerContainer h1{
      font-size: 4vw;
    }
    .headerContainer h2{
      font-size: 3vw;
    }
    .headerContainer {
      padding: 1rem;
      margin: 0 auto;
    }
    .listh2 {
      font-size: 3vw;
      padding: 1vw ;
      margin: 0 auto;
    }

    .terms {
      font-size: 3vw;
    }
    h2 {
      font-size: 3vw;
    }
    
    .termsHeader{
      text-align: center;
      max-width: 100% !important;
      padding-bottom: 2vw;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      margin: 0 !important;
    }
    form{
        max-width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 0;
    }
}