@font-face{
    src: url(Gotham-Bold.otf);
    font-family: Gotham;
}

body {
    background-color: #d2cae5;
}
* {
    color:#fff4ec;
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
  }

  
  form {
    background-color: #464359;
    border-radius: 1rem;
    margin-top: 30px;
    max-width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

@keyframes button {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    100% {
      opacity:1;
      transform: scale(1);
    }
  }
  .button{
      background-color:#8781b7;
      padding: 1rem;
      margin: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      animation-name: button;
      animation-duration: 0.2s ;
      animation-timing-function:  cubic-bezier(.26, .53, .74, 1.48);
  }
  .button:hover{
    background-color:#b18863;
    cursor: pointer;
    color: #fff4ec;
    transform: translateY(-3px);
    transition: 0.3s;
  }
  .button:focus{
    background-color: #99624c;
    border-color: #99624c;
    color: #fff4ec;  
  }
  /* -Adding the optimization for mobile devices- */
@media (max-width:859px){
    form{
        
        max-width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 0;
    }
}